.login-section {
    width: 100%;
    height: 100vh;
    background-image: url(../../../../assets/Images/back.webp);
    display: flex;
    flex-direction: column;
    align-items: center;


}
.create-section {
    padding: 1rem;
}
.admin-page-section {
    width: 100%;
    height: 100vh;
    background-image: url(../../../../assets/Images/back.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bus-approve{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.bus-list{
    margin-top: 3rem;
    border-radius: 0.625rem;
    border-left: 16px solid var(--main);    

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    max-width: 80rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:white;
    min-height: 10vh;
    padding: 0 2rem;
}
.list{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-right: 12px;
}
.bus-list p{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bus-list span{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

::ng-deep.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #FCF55F !important;
}

::ng-deep .mat-raised-button {
    background-color: #FCF55F !important;
    color: black !important;
    margin-right: 2rem !important;
     margin: 2rem !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
background-color: black;
}
::ng-deep .mat-radio-outer-circle{
border-color: black;
}
::ng-deep .mat-radio-button{
margin-left: 2rem;
}
::ng-deep .mat-checkbox-frame { 
    border-color: black !important;
}
:host ::ng-deep  .mat-checkbox-checked .mat-checkbox-background {
    background-color: red;
} 