<div>
    <div>
        <app-header></app-header>
    </div>
    <div class="admin-page-section">
        <div class="bus-approve">
            <div class="bus-list" *ngFor="let item of complaints_list">
                <div class="list">
                    <p>Bus name:</p>
                    <span>{{item?.bus?.name}}</span>
                </div>
                <div class="list">
                    <p>problem:</p>
                    <span>{{item?.problem}}</span>
                </div>
                <div class="list">
                    <p>Comment:</p>
                    <span>{{item?.comment}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
